@import '@styles/variables';
@import '@styles/mixins';

.category-item {
  position: relative;
  margin-bottom: 10px;

  &__main {
    background: $bg-category;
    border-radius: $border-radius;
    padding: $spacing-sm $spacing-md;
    min-height: 51px;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: $transition-fast;
    color: #b5aea5;

    &:hover {
      background: #525252;
    }
    
    @include mobile {
      padding: 12px 16px;
      min-height: auto;
    }
  }

  // Активная/выделенная категория
  &--active {

    .category-item__main {
      background: $bg-category-active;
      font-weight: bold !important;
      color: #fff;

      background: #924f4f !important;
    }
  }

  // Изученная категория
  &--completed {
    .category-item__main {
      background: $bg-category-completed;
    }
  }



  &__name {
    font-family: $font-family;
    font-size: $font-size-base;
    font-weight: bold;
    margin: 0;
  }

  &__count {
    opacity: 0.5;
    font-weight: normal;
    font-size: $font-size-small;
  }

  &__links {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 4px;
    margin-top: 6px;
    padding-right: 0;
    
    @include mobile {
      align-items: flex-start;
      padding-left: 16px;
      padding-right: 16px;
      margin-top: 8px;
    }
  }

  &__link {
    font-family: $font-family;
    font-size: $font-size-base;
    color: $text-secondary;
    text-decoration: none;
    cursor: pointer;
    transition: $transition-fast;
    
    @include mobile {
      font-size: 12px;
    }

    &:hover {
      color: $text-primary;
    }

    &--active {
      font-weight: bold !important;
      color: #fff;
    }
  }
}