@import '@styles/variables';
@import '@styles/mixins';

.main-layout {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background: $bg-dark;

  &__body {
    flex: 1;
    display: flex;
    justify-content: center;
    overflow-y: auto;
    padding: $spacing-xl 0;
    gap: 38px;
    
    &::-webkit-scrollbar {
      width: 8px;
    }
    
    &::-webkit-scrollbar-track {
      background: transparent;
    }
    
    &::-webkit-scrollbar-thumb {
      background: rgba(255, 255, 255, 0.1);
      border-radius: 4px;
    }
  }

  &__sidebar {
    width: $sidebar-width;
    flex-shrink: 0;
    height: fit-content;
  }

  &__content {
    width: 854px;
    flex-shrink: 0;
    height: fit-content;
  }
}