@import '@styles/variables';
@import '@styles/mixins';

.main-layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: $bg-dark;

  &__body {
    flex: 1;
    display: flex;
    justify-content: center;
    padding: $spacing-xl 0;
    gap: 38px;

    @include mobile {
      flex-direction: column;
      padding: 0;
      gap: 0;
      justify-content: flex-start;
    }
  }

  &__sidebar {
    width: $sidebar-width;
    flex-shrink: 0;
    height: fit-content;

    @include mobile {
      width: 100%;
      position: sticky;
      top: 0;
      z-index: 10;
      background: $bg-dark;
    }
  }

  &__content {
    width: 854px;
    flex-shrink: 0;
    height: fit-content;

    @include mobile {
      width: 100%;
      padding: 0 10px;
    }
  }
}